.weapon-list {
  width: 100%;
  overflow-y: auto;
  border-top: 2px solid brown;
}

.weapon-line {
  border-bottom: 1px rgba(139, 0, 0, 0.5) solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.weapon-line:nth-of-type(odd) {
  background-color: rgba(235, 187, 123, 0.25);
}

.weapon-line p {
  flex: 1;
}

.prop-list {
  flex: 2;
}

.prop-list p {
  font-size: small;
  flex: 1;
  display: inline;
}